div.dataTables_wrapper div.dataTables_filter {
    text-align: right;
}
div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0.5em;
    display: inline-block;
    width: auto;
}
.mdi{ font-size: 25px;padding:5px;}
div.dataTables_wrapper div.dataTables_length label select.form-control-sm{
	width:46px;
}